@import 'Animaciones';
@import 'botones';
@import 'colores';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM sans", sans-serif;
    p {
        font-size: 1.5rem;
    }
    body {
        main{ 
            background-image: linear-gradient(red, transparent);
        }
        &.dark {
            transition: .3s ease all;
            background-color: map-get($map: $paleta, $key: "Color_MNoche1");
        }
    }
}


/*------------------Inicio------------------*/

