@import 'colores';
@media screen and (min-width: 1024px) {
    /*--------------Inicio-----------------*/
    .btnPhone {
        display: none;
    }
    .header-menu-List {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        nav {
            ul {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                list-style: none;
                align-items: center;
                margin-bottom: 0;
                height: 40%;
                li {
                    display: flex;
                    border-right: 2px solid map-get($map: $paleta, $key: "Color_Bordes1");
                    transform: skew(-25deg, 0deg);
                    height: 100%;
                    align-items: center;
                    a {
                        transition: .3s ease all;
                        margin-right: 6px;
                        font-size: 1.8rem;
                        color: map-get($map: $paleta, $key: "Color_Negro");
                        text-decoration: none;
                        body.dark & {
                            transition: .3s ease all;
                            color: map-get($map: $paleta, $key: "Color_MDia");
                        }
                    }
                }
            }
        }
    }
    .container--slider {
        .slider__img {
            height: 500px;
        }
    }
    /*-----------------Contacto------------------*/
    .div-formulario {
        gap: 40px;
        height: 35rem;
    }
    .logos {
        justify-content: space-evenly;
    }
    /*------------------Galeria------------------*/
    /*------------------Productos------------------*/
    /*------------------Productos------------------*/
    /*------------------PREGUNTAS------------------*/
}

@media screen and (max-width: 820px) {
    .categorias {
        grid-template-columns: 1fr 1fr;
        .categoria {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            svg {
                width: 30px;
                margin-right: 10px;
                margin-bottom: 0px;
            }
            p {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .Encabezado {
        div {
            height: 60px;
        }
    }
    .categorias {
        grid-template-columns: 1fr;
    }
}