.Encabezado {
  background-color: #ff3939;
  display: flex;
  margin: 0;
  padding: 0;
}
.Encabezado div {
  width: 100%;
}

.header-menu-List {
  display: none;
}

.btnPhone {
  width: 100%;
  align-items: center;
}

.btnPhone {
  width: 100%;
}
.btnPhone nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnPhone nav .btn-menu {
  transition: 0.3s ease all;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
body.dark .btnPhone nav .btn-menu {
  background-image: url(/img/icon/list_white.svg);
  transition: 0.3s ease all;
}
.btnPhone nav a {
  display: flex;
}
.btnPhone nav .btn-menu_1 {
  transition: 0.3s ease all;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
body.dark .btnPhone nav .btn-menu_1 {
  transition: 0.3s ease all;
}

.btn-menu_2 {
  transition: 0.3s ease all;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
body.dark .btn-menu_2 {
  transition: 0.3s ease all;
}

.menu {
  transition: 0.3s ease all;
  background-color: transparent;
}
.menu .list {
  display: flex;
  flex-direction: column;
}
.menu .list a {
  transition: 0.3s ease all;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-top: 25px;
  border-bottom: 1px solid rgb(255, 47, 47);
}
body.dark .menu .list a {
  transition: 0.3s ease all;
  color: rgb(225, 225, 225);
}
.menu .btn-cerrar-derecha {
  text-align: center;
  display: flex;
  margin-right: 1.5rem;
  justify-content: flex-end;
}
.menu .btn-cerrar-derecha button {
  background-color: transparent;
  color: #8696a0;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
body.dark .menu {
  transition: 0.3s ease all;
  background-color: #6f6f6f;
}

/*------------------Menulist------------------*/
html.menu_locked {
  overflow: hidden;
  touch-action: none;
}
html.menu_locked .menu_main_content.menu_blur {
  filter: blur(15px);
}

.menu_overlay {
  z-index: -999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: opacity;
  transition: opacity 0.5s ease;
  opacity: 0;
  background: #3c3442;
}

html.menu_locked .menu_overlay {
  opacity: 0.8;
  z-index: 999;
}

[data-menu-id] {
  z-index: 1000;
  position: fixed;
  overflow-y: auto;
  will-change: transform;
  transition: transform 0.5s ease;
  background: rgb(225, 225, 225);
}

[data-menu-direction=left][data-menu-id] {
  top: 0;
  width: 256px;
  max-width: 100%;
  height: 100%;
}

[data-menu-direction=left][data-menu-id] {
  left: 0;
  transform: translateZ(0) translateX(-100%);
}

[data-menu-id].opened {
  display: block;
  transform: translateX(0px) translateY(0px);
}

@keyframes efectoRebote {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM sans", sans-serif;
}
html p {
  font-size: 1.5rem;
}
html body {
  display: block;
}
html body main {
  margin-bottom: 20px;
  min-height: 100vh;
}
html body main .fondo-d {
  background-image: linear-gradient(#ff3939, transparent);
}
html body.dark {
  transition: 0.3s ease all;
  background-color: #6f6f6f;
}

.modal {
  width: 100%;
  height: 100vh;
  background: rgba(58, 58, 58, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modal 1s 2s forwards;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.modal .contenido {
  position: fixed;
  top: 80px;
  width: 350px;
  height: 480px;
  border: 3px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  overflow: hidden;
  z-index: 1;
}

#cerrar {
  display: none;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
  display: none;
}

#cerrar + label {
  animation: modal 1s 2s forwards;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90px;
  right: 30px;
  z-index: 10000;
}
#cerrar + label svg {
  color: rgba(0, 0, 0, 0.788);
  width: 30px;
  height: 30px;
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/*------------------Inicio------------------*/
.carousel {
  padding: 2rem 0.5rem 2rem;
}

:root {
  --primario: #e23939;
  --gris-claro:#B8B8B8;
  --sombra: 0 0 13px 0 rgba(185,185,185, .25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.titulo {
  color: #3a3a3a;
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
}

/*! =================================================*/
/*! ============= Categorias ============= */
/*! =================================================*/
.menu-p {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.menu-p .indicador {
  position: absolute;
  top: -66.8%;
  width: 70px;
  height: 70px;
  background: rgb(247, 247, 247);
  border-radius: 50%;
  border: 10px solid rgb(255, 255, 255);
  transition: 0.3s;
}
body.dark .menu-p .indicador {
  transition: 0.3s ease all;
  background-color: #6f6f6f;
  border: 10px solid #6f6f6f;
}
.menu-p .indicador::before {
  content: "";
  position: absolute;
  top: 73%;
  left: -25px;
  width: 25px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 white;
}
body.dark .menu-p .indicador::before {
  transition: 0.3s ease all;
  box-shadow: 0.6px -10px 0 0 #6f6f6f;
}
.menu-p .indicador::after {
  content: "";
  position: absolute;
  top: 73%;
  left: 50.04px;
  width: 24px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -0.5px -10px 0 0 white;
}
body.dark .menu-p .indicador::after {
  transition: 0.3s ease all;
  box-shadow: -0.5px -10px 0 0 #6f6f6f;
}

.categorias {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: rgb(254, 133, 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorias ul {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 0px;
}
.categorias ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.categorias ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.categorias ul li a .icon {
  position: relative;
  display: block;
  line-height: 55px;
  text-align: center;
  transition: 0.5s;
}
.categorias ul li a .text {
  position: absolute;
  color: #3a3a3a;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
}
.categorias ul li.active a .icon {
  transform: translateY(-45px);
  cursor: pointer;
}
.categorias ul li.active a .text {
  opacity: 1;
  cursor: pointer;
  transform: translateY(10px);
  color: rgb(111, 0, 0);
}
.categorias ul li:nth-child(1).active ~ .indicador {
  transform: translatex(0px);
}
.categorias ul li:nth-child(2).active ~ .indicador {
  transform: translatex(93.2px);
}
.categorias ul li:nth-child(3).active ~ .indicador {
  transform: translatex(186.4px);
}
.categorias ul li:nth-child(4).active ~ .indicador {
  transform: translatex(279.6px);
}

/*! =================================================*/
/*! ============= Contenedor Preguntas ============= */
/*! =================================================*/
.contenedor-preguntas {
  display: none;
  grid-template-columns: 1fr;
  gap: 40px;
}

.contenedor-preguntas.activo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contenedor-pregunta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  background: white;
  padding: 0px 15px;
  border: 0.5px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s ease all;
  cursor: pointer;
}
.contenedor-pregunta img {
  margin: 5px auto;
  width: 100%;
}
.contenedor-pregunta .descripcion {
  border-top: 0.5px solid gray;
}
.contenedor-pregunta .descripcion_simone {
  border-top: 0.5px solid gray;
  text-align: center;
}
.contenedor-pregunta .precio {
  text-align: left;
  color: #3a3a3a;
  font-weight: 300;
}
.contenedor-pregunta .precioOff {
  color: green;
  font-size: 1.8rem;
  font-weight: 800;
}
.contenedor-pregunta .precio_simone {
  color: green;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}
body.dark .contenedor-pregunta {
  transition: 0.3s ease all;
  background-color: #c1c1c1;
}

.contenedor-pregunta:hover {
  box-shadow: var(--sombra);
}

.contenedor-simone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
  height: 135px;
  background: white;
  padding: 0px 15px;
  border: 0.5px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s ease all;
  cursor: pointer;
}
.contenedor-simone img {
  margin: 5px auto;
  width: 100%;
}
.contenedor-simone .precio {
  border-top: 0.5px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a3a3a;
}
.contenedor-simone .precio .descripcion_simone-c {
  text-align: center;
  font-size: 2rem;
}
.contenedor-simone .precio .descripcion_simone-l {
  text-align: center;
}
.contenedor-simone .precio .precio_simone {
  color: green;
  font-size: 2rem;
  font-weight: 800;
  align-items: center;
}
.contenedor-simone .stock-c {
  display: flex;
  justify-content: space-between;
}
.contenedor-simone .stock-c .fi-rr-check {
  color: green;
  font-size: 1.5rem;
}
.contenedor-simone .stock-c .fi-rr-cross {
  color: red;
  font-size: 1.5rem;
}
.contenedor-simone .stock-m {
  display: flex;
  justify-content: space-between;
}
.contenedor-simone .stock-m .fi-rr-cross {
  color: red;
  font-size: 1.5rem;
}
.contenedor-simone .stock-m .fi-rr-check {
  color: green;
  font-size: 1.5rem;
}
body.dark .contenedor-simone {
  transition: 0.3s ease all;
  background-color: #c1c1c1;
}

.contenedor-simone:hover {
  height: 330px;
  width: 190px;
  border: 2px solid orange;
}

.cervezas {
  display: none;
}

.cervezas.activo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marcas {
  display: flex;
}
.marcas ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
}
.marcas ul li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  z-index: 1;
  margin-top: 8px;
}
.marcas ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.marcas ul li a .icons {
  position: relative;
  display: block;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
}
.marcas ul li:nth-child(1).activi ~ .indicador-2 {
  transform: translateY(0px);
}
.marcas ul li:nth-child(2).activi ~ .indicador-2 {
  transform: translateY(100px);
}
.marcas ul li:nth-child(3).activi ~ .indicador-2 {
  transform: translateY(186.4px);
}
.marcas ul li:nth-child(4).activi ~ .indicador-2 {
  transform: translateY(279.6px);
}
.marcas ul li:nth-child(5).activi ~ .indicador-2 {
  transform: translateY(372.8px);
}
.marcas ul li:nth-child(6).activi ~ .indicador-2 {
  transform: translateY(466px);
}
.marcas ul li:nth-child(7).activi ~ .indicador-2 {
  transform: translateY(559.2px);
}

.marca {
  cursor: pointer;
  color: var(--gris-claro);
  transition: 0.3s ease all;
  border-radius: 30px;
  border: 2px solid orange;
  width: 80px;
  height: 80px;
  box-shadow: var(--sombra);
}

.contenedorMarcas {
  display: none;
}

.contenedorMarcas.Activo {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.preguntas {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor-Trabajadores {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(#ff3939, orange);
}
.contenedor-Trabajadores .carta {
  position: relative;
  bottom: 50px;
  width: 350px;
  height: 190px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.contenedor-Trabajadores .carta .imgbx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}
.contenedor-Trabajadores .carta .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedor-Trabajadores .carta:hover {
  height: 450px;
}
.contenedor-Trabajadores .carta:hover .imgbx {
  width: 250px;
  height: 250px;
}

footer {
  border-top: solid 1.2px #8696a0;
  margin-top: auto;
  background-color: transparent;
}
footer div {
  display: flex;
  justify-content: center;
  margin: 5px;
}
footer div p {
  transition: 0.3s ease all;
}
body.dark footer div p {
  transition: 0.3s ease all;
  color: rgb(225, 225, 225);
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  /*--------------Inicio-----------------*/
  .btnPhone {
    display: none;
  }
  .header-menu-List {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  .header-menu-List nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    height: 40%;
  }
  .header-menu-List nav ul li {
    display: flex;
    border-right: 2px solid rgb(255, 47, 47);
    transform: skew(-25deg, 0deg);
    height: 100%;
    align-items: center;
  }
  .header-menu-List nav ul li a {
    transition: 0.3s ease all;
    margin-right: 6px;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  body.dark .header-menu-List nav ul li a {
    transition: 0.3s ease all;
    color: rgb(225, 225, 225);
  }
  .container--slider .slider__img {
    height: 500px;
  }
  /*-----------------Contacto------------------*/
  .div-formulario {
    gap: 40px;
    height: 35rem;
  }
  .logos {
    justify-content: space-evenly;
  }
  /*------------------Galeria------------------*/
  /*------------------Productos------------------*/
  /*------------------Productos------------------*/
  /*------------------PREGUNTAS------------------*/
}
@media screen and (max-width: 820px) {
  .categorias {
    grid-template-columns: 1fr 1fr;
  }
  .categorias .categoria {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .categorias .categoria svg {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .categorias .categoria p {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 500px) {
  .Encabezado div {
    height: 60px;
  }
  .categorias {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */