* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    font-family: "DM sans", sans-serif;
}

p {
    font-size: 1.5rem;
}

header {
    width: 100%;
    box-shadow: 1px 1px 8px rgba(89, 73, 30, 0.16);
    margin-bottom: 3px;
}

.Encabezado {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Encabezado div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 3px;
}

.Encabezado h1 {
    font-family: "Roboto Slab";
    font-size: 3rem;
}

.Encabezado p {
    font-size: 1.5rem;
    color: gray;
}

.header-productos p,
a {
    font-size: 1.5rem;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.header-menu-List {
    display: none;
}

.btn-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-menu img {
    width: 25px;
    height: 25px;
}

.menu {
    background: transparent;
    color: #fff;
    padding: 20px;
}

.menu .btn-cerrar-derecha {
    text-align: center;
    display: flex;
    align-items: flex-end;
}

.menu .btn-cerrar-derecha button {
    background: none;
    color: rgba(128, 128, 128, 0.801);
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list a {
    transition: all 200ms ease-out;
    text-decoration: none;
    color: gray;
    font-size: 2rem;
    margin-top: 25px;
    border-bottom: 1px solid var(--just-white);
    border-bottom: 1px solid orange;
}


/*------------------Inicio------------------*/

main {
    width: 100%;
}

.main-section1 {
    margin: 5px;
}

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.slider ul {
    display: flex;
    animation: cambio 15s infinite alternate linear;
    width: 800%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 300px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.unico-titulo {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unico-titulo h2 {
    font-family: "Roboto Slab";
    font-size: 3rem;
}

.unico-titulo samp {
    width: 120px;
    height: 0.1px;
    border-top: solid orange 1.5px;
}

.main-section2 {
    display: grid;
    align-items: center;
    width: 100%;
}

.main-section2 div {
    text-align: center;
    margin: 5px;
    box-shadow: 1px 2px 2px 1px rgba(2, 2, 2, 0.425);
    border-radius: 5px;
    border-bottom: 1.5px solid orange;
}

.main-section2 div h3 {
    font-family: "Roboto Slab";
    font-size: 2rem;
    margin-bottom: 5px;
}

.main-section2 div p {
    font-size: 1.6rem;
    margin: 5px;
}


/*------------------Contacto------------------*/

.formulario {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}

.div-formulario {
    display: grid;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 9px rgba(89, 73, 30, 0.16);
    padding: 30px;
}

.div-formulario form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 25rem;
}

.div-formulario form input {
    width: 100%;
    height: 30px;
    border: 1px solid #fa4c06;
}

.div-formulario .boton {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 1.6rem;
    background-color: #fa4c06;
    color: aliceblue;
}

.div-formulario form textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #fa4c06;
}

.logos {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos h2 {
    font-family: "Roboto Slab";
    font-size: 3rem;
    margin-bottom: 10px;
}

.logos nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*------------------Tienda------------------*/

.productos {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
    row-gap: 10px;
}

.productos div a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 275px;
    height: 430px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    background-color: #000;
    color: #fff;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.productos div a img {
    width: 100%;
    height: 390px;
}


/*------------------Productos------------------*/

.Panel {
    margin: 10px;
}

.productos-V2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 10px;
    row-gap: 10px;
}

.productos-V2 div a {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 260px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    background: #000;
    color: #fff;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.productos-V2 div a img {
    width: 100%;
    height: 235px;
}

footer {
    border-top: solid 1.2px rgb(181, 181, 181);
    margin-top: auto;
}

footer div {
    margin: 5px;
}


/*------------------Menulist------------------*/

html.menu_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.menu_locked .menu_main_content.menu_blur {
    filter: blur(15px);
}

.menu_overlay {
    z-index: -999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
    opacity: 0;
    background: #3c3442;
}

html.menu_locked .menu_overlay {
    opacity: 0.8;
    z-index: 999;
}

[data-menu-id] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform 0.5s ease;
    background: #fff;
}

[data-menu-direction="left"][data-menu-id] {
    top: 0;
    width: 256px;
    max-width: 100%;
    height: 100%;
}

[data-menu-direction="left"][data-menu-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%);
}

[data-menu-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
}

@media screen and (max-width:360px) {
    .header div p {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    /*------------------Inicio------------------*/
    .slider ul {
        width: 400%;
    }
    .slider img {
        height: 350px;
    }
    .slider {
        height: 350px;
    }
    .unico-titulo samp {
        width: 250px;
    }
    /*------------------Contacto------------------*/
    /*------------------Tienda------------------*/
    /*------------------Productos------------------*/
}

@media screen and (max-width:400px) {
    .productos-V2 {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 1024px) {
    /*--------------Inicio-----------------*/
    .Encabezado {
        grid-template-columns: 50% auto;
    }
    .btn-menu {
        display: none;
    }
    .header-menu-List {
        display: block;
    }
    .header-menu-List ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin: 7px;
        width: 200px;
    }
    .header-menu-List ul li a {
        margin-right: 6px;
        font-size: 1.7rem;
        color: black;
        text-decoration: none;
    }
    .main-section1 {
        margin: 0px;
    }
    .slider {
        height: 540px;
        border-radius: 0px;
    }
    .slider ul {
        width: 400%;
    }
    .slider img {
        width: 100%;
        height: 540px;
    }
    .unico-titulo samp {
        width: 350px;
    }
    .main-section2 div {
        width: 400px;
        max-height: 100%;
    }
    .main-section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: min-content;
        justify-content: space-around;
        align-items: flex-start;
    }
    /*-----------------Contacto------------------*/
    .div-formulario {
        grid-template-columns: auto auto;
        gap: 40px;
    }
    .logos {
        height: 15rem;
        justify-content: space-around;
    }
    /*------------------Tienda------------------*/
    .productos {
        grid-template-columns: auto auto auto;
    }
    /*------------------Productos------------------*/
    .productos-V2 {
        grid-template-columns: auto auto auto auto auto;
    }
}